body {
    background: rgb(234, 234, 234);
    padding-top: 56px;
}

#photo-view > .row div {
    padding: 2px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white !important;
    background-color: #6c757d !important;
}

.nav-pills .nav-link{
    color: #6c757d !important;
}